*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #3e3e42;
}

.container{
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bulb{
    height: 200px;
    width: 200px;
    border-radius: 50% 50% 50% 50% / 35% 34% 66% 65% ;
}

.input-field{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 55px;
    width: 70px;
    border-radius: 10px;
    padding: 2px;
}
